.head{
    width: 100%;
    height: 48px;
    background-color: blanchedalmond;
}

.nav{
    width: 100%;
    height: 48px;
    background-color: aquamarine;
}

.main{
    display: flex;
    justify-content: space-around;
    height: 200px;
}
.m{
    
    background-color: aqua;
    width: 70%;
}
.w{
    
    background-color: aliceblue;
    width: 30%;
}

.foot{
    height: 48px;
    background-color: beige;
    width: 100%;
}



@media screen and (max-width : 300px){
     body{
        background : rgb(4, 7, 0);

     }
     .main{
        display: flex;
         }
     .m{
        width: 100%;
     }
     .w{
        width: 0%;
   
    }   
}

@media screen and (max-width : 769px){
     body{
        background : rgb(241, 244, 244);

     }
     .main{
     display: flex;
     flex-direction: column;
         }
     .m{
        width: 100%;
        height:300px;
     }
     .w{
        width: 100%;
   
    }   
}